<div class="container-fluid" dir="rtl">
  <form [formGroup]="productGroupForm">
    <div class="row g-3">
      <div class="col-sm-10 col-lg-10">
        <h4 class="mb-3">فرم اضافه کردن شعبه</h4>
        <hr/>
        <div class="row g-3">
          <div class="col-sm-4">
            <label for="code" class="form-label">کد محصول</label>
            <input type="number" class="form-control" id="code" placeholder="" formControlName="code">
            <div class="invalid-feedback">
              کد محصول صحیح نیست.
            </div>
          </div>
          <div class="col-sm-4">
            <label for="name" class="form-label">نام محصول </label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <div class="invalid-feedback">
              نام درست وارد نشده
            </div>
          </div>
          <div class="col-sm-4">
            <label for="price" class="form-label">قیمت فروش</label>
            <input type="number" class="form-control" id="price" formControlName="price">
            <div class="invalid-feedback">
              قیمت درست وارد نشده
            </div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-sm-4">
            <label for="quantityInStock" class="form-label">موجودی </label>
            <input type="number" class="form-control" id="quantityInStock" formControlName="quantityInStock">
            <div class="invalid-feedback">
              موجودی انبار مشخص نشده
            </div>
          </div>
          <div class="col-sm-4">
            <label for="vendor" class="form-label">تولید کننده</label>
            <input type="text" class="form-control" id="vendor" formControlName="vendor">
            <div class="invalid-feedback">
              آدرس درست وارد نشده
            </div>
          </div>

          <div class="col-sm-4">
            <label for="createdate" class="form-label">تاریخ </label>
            <input type="number" class="form-control" id="createdate" formControlName="createdate">
            <div class="invalid-feedback">
              آدرس درست وارد نشده
            </div>
          </div>

        </div>
        <div class="row g-3">
          <div class="col-sm-4">
            <label for="ename" class="form-label">نام لاتین </label>
            <input type="text" class="form-control" id="ename" formControlName="ename">
            <div class="invalid-feedback">
              آدرس درست وارد نشده
            </div>
          </div>
          <div class="col-sm-4">
            <label for="description" class="form-label">شرح محصول </label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
            <div class="invalid-feedback">
              شرح محصول
            </div>
          </div>
        </div>

        <div class="row g-3">
          <div class="col-sm-4">
            <label for="enabled" class="form-label">فعال شدن </label>
            <input class="form-check-input" type="checkbox" id="enabled" formControlName="enabled">
            <div class="invalid-feedback">
              آدرس درست وارد نشده
            </div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-sm-4">
            <label for="imgUrl" class="form-label">بارگزاری تصویر </label>
            <input class="form-control" type="file" id="imgUrl" formControlName="imgUrl">
            <div class="invalid-feedback">
              تصویر محصول
            </div>
          </div>
        </div>

      </div>
    </div>
    <hr class="my-4">
    <div class="row g-3">
    <div class="justify-content-sm-end col-sm-6">
      <button class="w-50 btn btn-primary btn-lg" (click)="addProduct()">ثبت محصول جدید</button>
    </div>
    <div *ngIf="success" class=" col-sm-6 alert alert-success alert-dismissible" >
      <strong>انجام شد</strong>
      <p>محصول با موفقیت در سیستم تعریف شد</p>
    </div>
    </div>
  </form>

</div>
