<div class="container-fluid" dir="rtl">
  <form [formGroup]="customerGroupForm">
    <div class="row g-3">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">فرم اضافه کردن کاربر</h4>
        <hr/>

        <!--        <div *ngIf="success" class="alert alert-success alert-dismissible">-->
        <!--          <strong>انجام شد</strong>-->
        <!--          <p>شعبه با موفقیت در سیستم تعریف شد</p>-->
        <!--        </div>-->

        <div class="row g-4">
          <div class="col-sm-6">
            <label for="mobileCode" class="form-label">کدکاربر(همراه) </label>
            <input type="number" class="form-control" id="mobileCode" name="mobile" placeholder="همراه" required
                   formControlName="mobile">
            <div class="invalid-feedback">
              کد مشکتری مشکل دارد
            </div>
          </div>
        </div>
<!--        <div class="row g-4">-->
<!--          <div class="col-sm-6">-->
<!--            <label class="form-label">نام </label>-->
<!--            <input type="text" class="form-control" name="name" required formControlName="name">-->
<!--            <div class="invalid-feedback">-->
<!--              نام درست وارد نشده-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <label class="form-label">نام خانوادگی </label>-->
<!--            <input type="text" class="form-control" name="family" required formControlName="family">-->
<!--            <div class="invalid-feedback">-->
<!--              نام خانوادگی درست وارد نشده-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="row g-4">-->
<!--          <div class="col-sm-6">-->
<!--            <label for="address" class="form-label">آدرس مشتری </label>-->
<!--            <input type="text" class="form-control" id="address" name="address" placeholder="" required-->
<!--                   formControlName="address">-->
<!--            <div class="invalid-feedback">-->
<!--              آدرس درست وارد نشده-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
    <hr class="my-4">
    <div class="row justify-content-sm-end">
      <button class="w-50 btn btn-primary btn-lg">ثبت مشتری</button>
    </div>
  </form>
</div>
